<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="false"
    *ngIf="storageService.isLoggedIn()">

    <div class="menu-wrapper">
      <span class="menu-title"></span>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active"></a>

        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/users" routerLinkActive="active" (click)="drawer.toggle()">
            Users Manager
          </a>
        </div>

        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/companies" routerLinkActive="active" (click)="drawer.toggle()">
            Customers Manager
          </a>
        </div>

        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/app-card-status-life-cycle-matrix-roles" routerLinkActive="active" (click)="drawer.toggle()">
            Matrix Config
          </a>
        </div>
        
        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN') || storageService.hasRole('ROLE_MARKETING_HEAD') || storageService.hasRole('ROLE_MARKETING')">
          <a mat-list-item routerLink="/app-marketing-manager" routerLinkActive="active" (click)="drawer.toggle()">
            Marketing
          </a>
        </div>

        <!-- Components Manager should not be exists we will use Components Transaction Manager instead and this will add or remove from components -->
        <!-- <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/components" routerLinkActive="active" (click)="drawer.toggle()">
            Components Manager
          </a>
        </div> -->

        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/components-transaction" routerLinkActive="active" (click)="drawer.toggle()">
            Components Transaction Manager
          </a>
        </div>

        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN')">
          <a mat-list-item routerLink="/card" routerLinkActive="active" (click)="drawer.toggle()">
            Card Manager
          </a>
        </div>

        
        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN') || storageService.hasRole('ROLE_ACCOUNTANT_HEAD') || storageService.hasRole('ROLE_ACCOUNTANT')">
          <a mat-list-item routerLink="/app-offer-state" routerLinkActive="active" (click)="drawer.toggle()">
            Offer State
          </a>
        </div>
        <div *ngIf="storageService.isLoggedIn() && storageService.hasRole('ROLE_ADMIN') || storageService.hasRole('ROLE_REPAIR_TECHNICIAN_HEAD') || storageService.hasRole('ROLE_REPAIR_TECHNICIAN')">
        <a mat-list-item routerLink="/app-tech-state" routerLinkActive="active" (click)="drawer.toggle()">
          Technical State
        </a>
      </div>
        <a mat-list-item routerLink="/login" routerLinkActive="active" (click)="logOut(drawer)">Logout</a>
      </mat-nav-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="storageService.isLoggedIn()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Smart Technology</span>
    </mat-toolbar>

    <div *ngIf='!storageService.isLoggedIn()'>
      <app-login></app-login>
    </div>

    <div class="image-container" *ngIf='storageService.isLoggedIn()'>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
