<mat-toolbar>
    <span>{{ form.controls["id"].value ? "Edit" : "Create" }} Card</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="normal-form">
  
    <mat-grid-list cols="2" rowHeight="450px">
  
      <mat-grid-tile>
        <div class="controles-container">
  
            <input type="hidden" formControlName="id" />

            <input type="hidden" formControlName="serial_no" placeholder="Serial No" />
            <input type="hidden" formControlName="logged_in_user" placeholder="Logged In User" />
            <mat-form-field>
              <input formControlName="issue_description" matInput placeholder="Issue Description" />
              <mat-error *ngIf="form.get('issue_description')?.hasError('required')">Issue Description is required</mat-error>
            </mat-form-field>
            
            
            <mat-form-field>
                <mat-label>Product Name</mat-label>
                 <input type="text" formControlName="important_components_of_card" matInput [matAutocomplete]="auto">
                 <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                   <mat-option *ngFor="let component of filteredComponents | async" [value]="component">
                     {{component.name}}
                  </mat-option>
                </mat-autocomplete>
                 <mat-error *ngIf="form.get('component')?.hasError('required')">Product Name is required</mat-error>
              </mat-form-field>
            
            
              <mat-form-field>
                <mat-label>Company</mat-label>
                 <input type="text" formControlName="company" matInput [matAutocomplete]="auto">
                 <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                   <mat-option *ngFor="let company of filteredCompanies | async" [value]="company">
                     {{company.name}}
                  </mat-option>
                </mat-autocomplete>
                 <mat-error *ngIf="form.get('component')?.hasError('required')">Company is required</mat-error>
              </mat-form-field>
            
            
              <mat-form-field>
                <!-- <mat-label formControlName="suggested_offer_repair_cost">Suggested Offer Repair Cost</mat-label> -->
                <input formControlName="suggested_offer_repair_cost" matInput type="number" placeholder="Suggested Offer Repair Cost" pattern="^[0-9]*$" />
                <mat-error *ngIf="form.get('suggested_offer_repair_cost')?.hasError('required')">Suggested Offer Repair Cost is required</mat-error>
                <mat-error *ngIf="form.get('suggested_offer_repair_cost')?.hasError('pattern')">Please enter a valid number</mat-error>
              </mat-form-field>

              <mat-form-field>
                <!-- <mat-label formControlName="repair_cost">Repair Cost</mat-label> -->
                <input formControlName="repair_cost" matInput type="number" placeholder="Repair Cost" pattern="^[0-9]*$" />
                <mat-error *ngIf="form.get('repair_cost')?.hasError('required')">Repair Cost is required</mat-error>
                <mat-error *ngIf="form.get('repair_cost')?.hasError('pattern')">Please enter a valid number</mat-error>
              </mat-form-field>
        </div>
            </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
          
              
              <mat-form-field>
                <!-- <mat-label formControlName="amount_paid">Amount Paid</mat-label> -->
                <input formControlName="amount_paid" matInput type="number" placeholder="Amount Paid" pattern="^[0-9]*$" />
                <mat-error *ngIf="form.get('amount_paid')?.hasError('required')">Amount Paid is required</mat-error>
                <mat-error *ngIf="form.get('amount_paid')?.hasError('pattern')">Please enter a valid number</mat-error>
              </mat-form-field>
              
            
            
            <mat-form-field>
              <mat-select formControlName="card_state" placeholder="Card State">
                <mat-option value="ENTERED">Entered</mat-option>
                <mat-option value="PRICE_OFFER">Price Offer</mat-option>
                <mat-option value="REJECTED_OFFER">Rejected Offer</mat-option>
                <mat-option value="UNDER_REPAIR">Under Repair</mat-option>
                <mat-option value="READY">Ready</mat-option>
                <mat-option value="WAIT_SPARE_PARTS">Wait Spare Parts</mat-option>
                <mat-option value="REJECTED_TECH">Rejected Tech</mat-option>
                <mat-option value="UNDER_TEST">Under Test</mat-option>
                <mat-option value="OK_WORKING_FINE">OK Working Fine</mat-option>
                <mat-option value="OUT_OF_GUARANTEE">Out of Guarantee</mat-option>
                <mat-option value="RETURN_HAVE_ISSUE">Return Have Issue</mat-option>
              </mat-select>
            </mat-form-field>
            
            
        
            
            
            <mat-form-field>
                <!-- <mat-label formControlName="no_of_card_pieces">No. Of Card Pieces</mat-label> -->
                <input formControlName="no_of_card_pieces" matInput type="number" placeholder="Number Of Card Pices" pattern="^[0-9]*$" />
                <mat-error *ngIf="form.get('no_of_card_pieces')?.hasError('required')">Number Of Card Pices is required</mat-error>
                <mat-error *ngIf="form.get('no_of_card_pieces')?.hasError('pattern')">Please enter a valid number</mat-error>
              </mat-form-field>
             
            
            

            
            <mat-form-field>
              <input formControlName="deliver_card_user" matInput placeholder="Deliver Card User" />
            </mat-form-field>
            
            
            <mat-form-field>
                <mat-label>User Deleiverd the card</mat-label>
                 <input type="text" formControlName="deliver_card_user" matInput [matAutocomplete]="auto">
                 <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                   <mat-option *ngFor="let deliveredUser of filteredDeliveredUsers | async" [value]="deliveredUser">
                     {{deliveredUser.name}}
                  </mat-option>
                </mat-autocomplete>
                 <mat-error *ngIf="form.get('deliver_card_user')?.hasError('required')">Delivery User is required</mat-error>
              </mat-form-field>
  
        </div>
      </mat-grid-tile>
  
  
  
    </mat-grid-list>
  
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      <button mat-raised-button color="warn" type="reset">Clear</button>
    </div>
  
  </form>
  