<mat-toolbar>
  <span>{{ form.controls["id"].value ? "Edit" : "Create" }} Company</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="normal-form">

  <mat-grid-list cols="2" rowHeight="350px">

    <mat-grid-tile>
      <div class="controles-container">

        <input type="hidden" formControlName="id" />



        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name" />
         
          <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Customer Name</mat-label>
          <input formControlName="customer_name" matInput placeholder="Customer Name" />
         
          <mat-error *ngIf="form.get('customer_name')?.hasError('required')">Customer Name is required</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Area Code</mat-label>
          <input formControlName="area" matInput placeholder="Area Code" />
        
          <mat-error *ngIf="form.get('area')?.hasError('required')">Area Code is required</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">

        <div formArrayName="phones">

          <!-- Phone rows -->
          <div *ngFor="let phone of phones.controls; let i = index" class="phone-input">
            <mat-form-field>
              <input [formControlName]="i" matInput placeholder="Phone" />
              <button type="button" mat-icon-button matSuffix (click)="removePhone(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <button type="button" mat-icon-button (click)="addPhone()" class="add-phone-button">
            <mat-icon class="add-icon">add_circle</mat-icon>
          </button>

        </div>

      </div>
    </mat-grid-tile>

    <!-- More fields here... -->

  </mat-grid-list>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    <button mat-raised-button color="warn" type="reset">Clear</button>
  </div>

</form>
