<mat-toolbar>
  <span>{{ form.controls["id"].value ? "Edit" : "Create" }} Card</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="normal-form">

  <mat-grid-list cols="2" rowHeight="500px">

    <mat-grid-tile>
      <div class="controles-container">

        <input type="hidden" formControlName="id" />

        <input type="hidden" formControlName="serial_no" placeholder="Serial No" />
        <input type="hidden" formControlName="logged_in_user" placeholder="Logged In User" />

        <div *ngIf="hide_show_assign_to">
          <mat-form-field>
            <mat-label>User Assigned the card</mat-label>
            <input type="text" formControlName="assign_to" matInput [matAutocomplete]="autoudelv">
            <mat-autocomplete #autoudelv="matAutocomplete" [displayWith]="displayFnAssignUser">
              <mat-option *ngFor="let assignedUser of filteredAssignUsers | async" [value]="assignedUser">
                {{assignedUser.username}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('assign_to')?.hasError('required')">Assigny User is required</mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="!hide_show_assign_to">
          <input type="hidden" formControlName="assign_to" />
        </div>



        <mat-radio-group formControlName="tech_status">

          <mat-radio-button *ngFor="let status of statuses" [value]="status">
            {{status}}
          </mat-radio-button>

        </mat-radio-group>

        <div *ngIf="isAcceptedTechnical">
          <!-- <div>
            <mat-checkbox formControlName="fixed">
              Is Fixed
            </mat-checkbox>
          </div> -->
          <div>
            <mat-form-field>
              <textarea formControlName="note" matInput placeholder="Note"></textarea>
            </mat-form-field>
          </div>
        </div>

      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <div *ngIf="isAcceptedTechnical">

          <form [formGroup]="componentsFormInput">
            <div class="input-container" *ngFor="let formGroupName of inputsOfComponentsForm; let i = index"
              [formGroupName]="formGroupName">
              <!-- <input type="text" formControlName="autocomplete" placeholder="Autocomplete" /> -->
              <mat-form-field>

                <input matInput type="text" formControlName="autocomplete" matInput [matAutocomplete]="auto">
                <!-- MatAutocomplete directive that controls the behavior of the options panel associated with the input -->
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <!-- Loop through the filtered components, which is an observable containing the filtered results -->
                  <mat-option *ngFor="let component of filteredComponents | async" [value]="component">
                    <!-- Display the 'name' property of each component in the options panel -->
                    {{component.name + ' (' + component.current_exist_quantity + ')'}}
                  </mat-option>
                </mat-autocomplete>

                <input matInput type="number" formControlName="number" placeholder="Number" class="circular-input" />
                <button type="button" mat-icon-button matSuffix (click)="removeInput(i); $event.stopPropagation()">
                  <mat-icon>remove_circle</mat-icon>
                </button>

              </mat-form-field>
            </div>
          </form>

          <button type="button" mat-icon-button (click)="addInput(); $event.stopPropagation()">
            <mat-icon class="add-icon">add_circle</mat-icon>
          </button>

        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    <button mat-raised-button color="warn" type="reset">Clear</button>
  </div>

</form>